/*-- scss:defaults --*/

/*-- tailwind from 
https://htmlcolorcodes.com/color-picker/
--color-1: #F54927;
--color-2: #27F5B0;
--color-3: #276CF5;

OG color: #20794D
--*/

$blue:    #F54927 !default;
/*-- scss:rules --*/
